@model IEnumerable<WebApplication1.ViewModels.CourseVM>

@{
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = null;
    //ViewBag.Title = "Index";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Crs_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Topic_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Crs_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Crs_Duration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Inst_Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Crs_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Topic_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Crs_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Crs_Duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Inst_Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Crs_Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Crs_Id }) |
                <input type="button" class="btn btn-danger" value="Delete" onclick="deleteAjax(@item.Crs_Id)" />
            </td>
        </tr>
    }

</table>

@section Title{
    <h2>Courses</h2>
}