@using Microsoft.AspNetCore.Identity;
@using WebApplication1.Models.Repositories;
@model List<Chapter>
@inject IUserRepository userRepository
@inject UserManager<User> userManager

@{
    Layout = null;
}

<div class="h1 text-center mb-4"><span id="chaptersCount" data="@Model.Count()"></span></div>

@foreach (Chapter chapter in Model)
{
    <div class="d-inline-block mb-2">
        @{
            string Title = "Chapter " + chapter.Order + " : " + chapter.Title;
            User user = await userManager.GetUserAsync(User);
            bool isRead = false;
            if (user != null)
            {
                isRead = await userRepository.IsReadChapter(user.Id, chapter.ID);
            }
            if (User.IsInRole("PremiumUser") || User.IsInRole("Admin"))
            {
                if (isRead == false)
                {
                    <span class="h5">
                        <a class="text-decoration-none text-xxl-center bg-dark bg-opacity-75 badge" asp-action="Index" asp-controller="Chapter" asp-route-id="@chapter.ID">@Title</a>
                    </span>
                }
                else
                {
                    <span class="h5">
                        <a class="text-decoration-none text-xxl-center bg-secondary badge" asp-action="Index" asp-controller="Chapter" asp-route-id="@chapter.ID">@Title</a>
                    </span>
                }
            }
            else
            {
                if (isRead == false)
                {
                    <span class="h5">
                        <a class="text-decoration-none text-xxl-center bg-dark bg-opacity-75 badge" asp-action="Payment" asp-controller="Payment">@Title</a>
                    </span>
                }
                else
                {
                    <span class="h5">
                        <a class="text-decoration-none text-xxl-center bg-secondary badge" asp-action="Payment" asp-controller="Payment">@Title</a>
                    </span>
                }
            }
            
            if (User.IsInRole("Admin"))
            {
                <span class="h5 ms-2">
                    @if (chapter.Order == 1)
                    {
                        <a class="text-decoration-none text-xxl-center bg-primary badge disabled btn" role="button" onclick="UpChapter(@chapter.ID)">
                            <i class="fa-solid fa-caret-up fa-2xl"></i>
                        </a>
                    }
                    else{
                    <a class="text-decoration-none text-xxl-center bg-primary badge btn" role="button" onclick="UpChapter(@chapter.ID)">
                        <i class="fa-solid fa-caret-up fa-2xl"></i>
                    </a>
                    }
                </span>
                <span class="h5 ms-2">
                    <a class="text-decoration-none text-xxl-center bg-primary badge" data-bs-toggle="modal" data-bs-target="#editChapterModal" role="button" onclick="EditChapter(@chapter.ID)">Edit</a>
                </span>
                <span class="h5 ms-2">
                    @if(chapter.Order == Model.Count)
                    {
                        <a class="text-decoration-none text-xxl-center bg-primary badge disabled btn" role="button" onclick="DownChapter(@chapter.ID)">
                            <i class="fa-solid fa-caret-down fa-2xl"></i>
                        </a>
                    }
                    else
                    {
                        <a class="text-decoration-none text-xxl-center bg-primary badge btn" role="button" onclick="DownChapter(@chapter.ID)">
                            <i class="fa-solid fa-caret-down fa-2xl"></i>
                        </a>
                    }
                </span>
                <span class="h5 ms-2">
                    <a class="text-decoration-none text-xxl-center bg-danger badge" role="button" onclick="DeleteChapter(@chapter.ID)">Delete</a>
                </span>
            }
        }
    </div>
}