@*@model IEnumerable<Day3Demo.Models.Student>*@
@model IEnumerable<Day3Demo.ViewModels.StudentViewModel>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">School System</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">
                        Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
            </ul>
        </div>
    </nav>
    <br />
    <div class="container">
        <h2>Students</h2>
        @*<a href="~/Student/Create">Create Student</a>*@
        @Html.ActionLink("Create Student","Create","Student")
        <table class="table table-hover" >
            <tr>
                <th>ID</th>
                <th>Full Name</th>
                <th>City</th>
                <th>Graduated</th>
                <th>GPA</th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ID</td>
                    <td>@item.FullName</td>
                    <td>@item.City</td>
                    <td>@item.Graduated</td>
                    <td>@item.GPA</td>
                    <td></td>
                </tr>
            }
        </table>
    </div>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
</body>
</html>
