<div class="container px-4 px-lg-5 mt-5">
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
        @foreach (var item in Model)
        {
            <div class="col mb-5">
                <div class="card h-100" style="background-color: rgba(120,32,40,0.8)">
                    <!-- Sale badge-->
                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">@item.Category.Name</div>
                    <!-- Product image-->
                    <a asp-action="Index" asp-controller="Book" asp-route-Id="@item.ID" style="text-decoration:inherit; color:inherit; outline:inherit;"
                       onclick="return checkAgeConfirmation('@item.Category.Name')">
                        <img class="card-img-top" src="@item.ImagePath" height="320px" width="300px" alt="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" />
                    </a>
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder" style="color: whitesmoke">@item.Name</h5>
                            <!-- Product Description-->
                            <div class="card-body">
                                <p style="font-size: 15px; color: whitesmoke" class="card-text lead">@item.Description</p>
                            </div>
                        </div>
                    </div>
                    <!-- Product actions-->
                    @if (User.IsInRole("Admin"))
                    {
                        <div class="text-center mb-4">
                            <a class="btn btn-warning mt-auto btn btn-warning" href="/CategoriesCRUDS/Update/@item.ID">Update</a>
                            <a onclick="DeleteBook(@item.ID)" class="btn btn-danger mt-auto">Delete</a>
                        </div>
                    }
                </div>
            </div>
        }
    </div>
</div>

<script>
    function checkAgeConfirmation(categoryName) {
        console.log(categoryName);
        if (categoryName === 'Horror') {
            var isConfirmed = confirm("This book is pretty scary for children are you above 14 years old?");
            if (!isConfirmed) {
                return false; // Cancel the navigation
            }
        }
        return true; // Allow the navigation
    }
</script>
