<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="img/fav.png">
	<!-- Author Meta -->
	<meta name="author" content="codepixer">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>Book</title>

	<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
	<!--
	CSS
	============================================= -->
	<link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
	<link rel="stylesheet" href="~/css/MainMenuBookcss/linearicons.css">
	<link rel="stylesheet" href="~/css/MainMenuBookcss/font-awesome.min.css">
	<link rel="stylesheet" href="~/css/MainMenuBookcss/bootstrap.css">
	<link rel="stylesheet" href="~/css/MainMenuBookcss/magnific-popup.css">
	<link rel="stylesheet" href="~/css/MainMenuBookcss/nice-select.css">
	<link rel="stylesheet" href="~/css/MainMenuBookcss/animate.min.css">
	<link rel="stylesheet" href="~/css/MainMenuBookcss/owl.carousel.css">
	<link rel="stylesheet" href="~/css/MainMenuBookcss/main.css">
	<link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">


	<!-- boots trap link for icons-->

</head>
<body>
	
	<header id="header" style="background-color: #f53f51; color: #fff; position:fixed; padding:30px; top:0; width:100%; z-index:100;">
		@RenderSection("NavBar", false)
	</header>
	<!-- #header -->
	<!-- start banner Area -->
	@RenderSection("LibraryEntry", false)
	<!-- End banner Area -->
	<!-- Start about Area -->
	@RenderSection("Announcement", false)
	<!-- End about Area -->
	<!-- Start Community Area -->
	@RenderSection("Community", false)
	<!-- End Community Area -->
	<!-- Start fact Area -->

	<!-- End fact Area -->
	<!-- Start counter Area -->
	@RenderSection("NumberOfBooks", false)
	<!-- end counter Area -->
	<!-- Start price Area -->
	<section class="price-area section-gap" id="price">
		<div class="container">
			<div class="row d-flex justify-content-center">
				<div class="menu-content pb-60 col-lg-8">
					<div class="title text-center">
						<h1 class="mb-10">Be Part of our Community</h1>
						<p>Premium users get special surprises</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4">
					<div class="single-price no-padding">
						<div class="price-top">
							<h4>Beta Premium Subscription</h4>
						</div>
						<p>
							Enjoy 6 months of our <br>
							Beta Premium Subscription.
						</p>
						<div class="price-bottom">
							<h1><span>$</span> 59.99</h1>
							@if(User.Identity.IsAuthenticated)
							{
								<a href="/Payment/Payment?price=59.99&name=Omega%20Subscription&months=6" class="primary-btn header-btn">Purchase Now</a>
							}else
							{
								<a href="/Account/Registration" class="primary-btn header-btn">Purchase Now</a>
							}

					
						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="single-price no-padding">
						<div class="price-top">
							<h4>Alpha Premium Subscription</h4>
						</div>
						<p>
							Enjoy 8 months of our <br>
							Alpha Premium Subscription.
						</p>
						<div class="price-bottom">
							<h1><span>$</span> 79.99</h1>
							@if (User.Identity.IsAuthenticated)
							{
								<a href="/Payment/Payment?price=79.99&name=Alpha%20Subscription&months=8" class="primary-btn header-btn">Purchase Now</a>
							}
							else
							{
								<a href="/Account/Registration" class="primary-btn header-btn">Purchase Now</a>
							}
						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="single-price no-padding">
						<div class="price-top">
							<h4>Omega Premium Subscription</h4>
						</div>
						<p>
							Enjoy 10 months of our <br>
							Omega Premium Subscription.
						</p>
						<div class="price-bottom">
							<h1><span>$</span>99.99</h1>
							@if (User.Identity.IsAuthenticated)
							{
								<a href="/Payment/Payment?price=99.99&name=Omega%20Subscription&months=10" class="primary-btn header-btn">Purchase Now</a>
							}
							else
							{
								<a href="/Account/Registration" class="primary-btn header-btn">Purchase Now</a>
							}
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End price Area -->
	<!-- Start course Area -->
	@RenderSection("HighestRated",false)
	<!-- End course Area -->
	<!-- Start call-to-action Area -->
	@*<section class="call-to-action-area section-gap">
	<div class="container">
	<div class="row justify-content-center top">
	<div class="col-lg-12">
	<h1 class="text-white text-center">Download Our App for all Platforms</h1>
	<p class="text-white text-center mt-30">
	It won’t be a bigger problem to find one video game lover in your neighbor. Since the introduction of Virtual Game, it has been achieving great heights so far as its popularity and technological advancement are concerned.
	</p>
	</div>
	</div>
	<div class="row justify-content-center d-flex">
	<div class="download-button d-flex flex-row justify-content-center mt-30">
	<div class="buttons flex-row d-flex">
	<i class="fa fa-apple" aria-hidden="true"></i>
	<div class="desc">
	<a href="#">
	<p>
	<span>Available</span> <br>
	on App Store
	</p>
	</a>
	</div>
	</div>
	<div class="buttons flex-row d-flex">
	<i class="fa fa-android" aria-hidden="true"></i>
	<div class="desc">
	<a href="#">
	<p>
	<span>Available</span> <br>
	on Play Store
	</p>
	</a>
	</div>
	</div>
	</div>
	</div>
	</div>
	</section>*@
	<!-- End call-to-action Area -->
	<!-- Start testomial Area -->
	<section class="testomial-area section-gap">
		<div class="container">
			<div class="row d-flex justify-content-center">
				<div class="menu-content pb-60 col-lg-8">
					<div class="title text-center">
						<h1 class="mb-10">What our Reader’s Say about us</h1>
						<p>We are honored to share with your our readers opinion</p>
					</div>
				</div>
			</div>
			@RenderBody()
			<div class="row">
				<div class="active-tstimonial-carusel">
					<div class="single-testimonial item">
						<img class="mx-auto" src="~/assets/MainMenuBookimg/t1.png" alt="">
						<p class="desc">
							Very Awesome Site!
						</p>
						<h4>Yomna Kamal</h4>
						<p>
							User
						</p>
					</div>
					<div class="single-testimonial item">
						<img class="mx-auto" src="~/assets/MainMenuBookimg/t2.png" alt="">
						<p class="desc">
							Very Awesome Site!
						</p>
						<h4>Manal Mahmoud</h4>
						<p>
							User
						</p>
					</div>
					<div class="single-testimonial item">
						<img class="mx-auto" src="~/assets/MainMenuBookimg/t3.png" alt="">
						<p class="desc">
							Very Awesome Site!
						</p>
						<h4>Wessam Qayd</h4>
						<p>
							User
						</p>
					</div>
					<div class="single-testimonial item">
						<img class="mx-auto" src="~/assets/MainMenuBookimg/t1.png" alt="">
						<p class="desc">
							Very Awesome Site!
						</p>
						<h4>Enjy Ali</h4>
						<p>
							User
						</p>
					</div>
					<div class="single-testimonial item">
						<img class="mx-auto" src="~/assets/MainMenuBookimg/t2.png" alt="">
						<p class="desc">
							Very Awesome Site!
						</p>
						<h4>Basant Fathy</h4>
						<p>
							User
						</p>
					</div>
					<div class="single-testimonial item">
						<img class="mx-auto" src="~/assets/MainMenuBookimg/t3.png" alt="">
						<p class="desc">
							Very Awesome Site!
						</p>
						<h4>Marwa Ahmed</h4>
						<p>
							User
						</p>
					</div>
					<div class="single-testimonial item">
						<img class="mx-auto" src="~/assets/MainMenuBookimg/t1.png" alt="">
						<p class="desc">
							Very Awesome Site!
						</p>
						<h4>Tasneem Tawfiq</h4>
						<p>
							User
						</p>
					</div>
					<div class="single-testimonial item">
						<img class="mx-auto" src="~/assets/MainMenuBookimg/t2.png" alt="">
						<p class="desc">
							Very Awesome Site!
						</p>
						<h4>Yara Mamdouh</h4>
						<p>
							User
						</p>
					</div>
					<div class="single-testimonial item">
						<img class="mx-auto" src="~/assets/MainMenuBookimg/t3.png" alt="">
						<p class="desc">
							Very Awesome Site!
						</p>
						<h4>Samah Hosny</h4>
						<p>
							User
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End testomial Area -->
	<!-- start footer Area -->
	<footer class="footer-area section-gap position-relative bottom-0">
		<div class="container">
			<div class="row">
				<div class="col-lg-5 col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<h6>About Us</h6>
						<p>
							"Welcome to our book website! We are a group of passionate individuals who share a deep love for books. . Books have always held a special place in our hearts, transporting us to different worlds, and igniting our passion. Please Enjoy Your Stay. 
						</p>
						<p class="footer-text">

						</p>
					</div>
				</div>
				<div class="col-lg-5  col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<h6>Objective</h6>
						<p>We hope you enjoy your stay</p>

					</div>
				</div>
				<div class="col-lg-2 col-md-6 col-sm-6 social-widget">
					<div class="single-footer-widget">
						<h6>Famous on:</h6>
						<p>Let us be social</p>
						<div class="footer-social d-flex align-items-center">
							<a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
							<a href="https://twitter.com/?lang=en"><i class="fa fa-twitter"></i></a>
							<a href="https://dribbble.com/"><i class="fa fa-dribbble"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- End footer Area -->
	<!-- End footer Area -->
	<script src="https://kit.fontawesome.com/e54de38071.js" crossorigin="anonymous"></script>
	<script src="~/js/MainMenuBookjs/vendor/jquery-2.2.4.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="~/js/MainMenuBookjs/vendor/bootstrap.min.js"></script>
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
	<script src="~/js/MainMenuBookjs/easing.min.js"></script>
	<script src="~/js/MainMenuBookjs/hoverIntent.js"></script>
	<script src="~/js/MainMenuBookjs/superfish.min.js"></script>
	<script src="~/js/MainMenuBookjs/jquery.ajaxchimp.min.js"></script>
	<script src="~/js/MainMenuBookjs/jquery.magnific-popup.min.js"></script>
	<script src="~/js/MainMenuBookjs/owl.carousel.min.js"></script>
	<script src="~/js/MainMenuBookjs/jquery.sticky.js"></script>
	<script src="~/js/MainMenuBookjs/jquery.nice-select.min.js"></script>
	<script src="~/js/MainMenuBookjs/parallax.min.js"></script>
	<script src="~/js/MainMenuBookjs/waypoints.min.js"></script>
	<script src="~/js/MainMenuBookjs/jquery.counterup.min.js"></script>
	<script src="~/js/MainMenuBookjs/mail-script.js"></script>
	<script src="~/js/MainMenuBookjs/main.js"></script>
@*	<script src="~/lib/jquery/dist/jquery.min.js"></script>
*@	@RenderSection("Scripts", required: false)
</body>
</html>




